
/* xs */
.header_img {
    content:url('../images/KNTXT-logo.png');
    width: 100px;
    height: auto;
}
/* sm */
@media (min-width: 576px) {
    .header_img {
        content:url('../images/KNTXT-logo.png');                 
        width: 150px;
    }
}
/* md */
@media (min-width: 768px) {
    .header_img {
        content:url('../images/KNTXT-logo.png');
        width: 200px;    }
}
/* lg */
@media (min-width: 992px) {
    .header_img {
        content:url('../images/KNTXT-logo.png');
        width: 250px;
    }
}

